<p>
  <strong>Name:</strong>
  <%= @profile.name %>
</p>

<p>
  <strong>Locale:</strong>
  <%= @profile.locale %>
</p>

<p>
  <strong>Timezone:</strong>
  <%= @profile.timezone %>
</p>

<%= link_to 'Edit Profile', edit_profile_path(@profile) %> |
<%= link_to 'Change Password', edit_user_registration_path %>
